{
  "frame": {
    "width": 1366,
    "height": 1024,
    "fullscreen": false,
    "fontName": "Arial",
    "fontSize": 64
  },

  "db": {
    "url": "jdbc:sqlite:mptv.db",
    "user": "",
    "password": ""
  },

  "piir": {
    "exec": "/home/iptv/.local/bin/piir",
    "gpio": 17,
    "binds": [
      {
        "data": "45 03",
        "menuAction": "up"
      },
      {
        "data": "45 5E",
        "menuAction": "down"
      },
      {
        "data": "45 02",
        "menuAction": "left"
      },
      {
        "data": "45 40",
        "menuAction": "right"
      },
      {
        "data": "45 5F",
        "menuAction": "open"
      },
      {
        "preData": "45 BA",
        "data": "60",
        "menuAction": "close"
      }
    ]
  },

  "sources": [
    {
      "type": "m3u",
      "url": "https://example.com/list.m3u",
      "cookies": null,
      "rootCategory": test
    },
    {
      "type": "m3u-local",
      "path": "test.m3u8",
      "rootCategory": "test"
    }
  ],

  "tasks": [
    {
      "name": "crawler",
      "interval": 86400
    },
    {
      "name": "processService",
      "interval": 1
    }
  ]
}