{
  "frame": {
    "width": 1366,
    "height": 1024,
    "fullscreen": false,
    "fontName": "Arial",
    "fontSize": 64
  },

  "db": {
    "url": "jdbc:sqlite:mptv.db",
    "user": "",
    "password": ""
  },

  "sources": [
    {
      "type": "m3u",
      "url": "https://example.com/list.m3u",
      "cookies": null,
      "rootCategory": null
    },
    {
      "type": "m3u-local",
      "path": "test.m3u8",
      "rootCategory": "test"
    }
  ]
}